<%= form_for(@catalog_mebeli) do |f| %>
  <% if @catalog_mebeli.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catalog_mebeli.errors.count, "error") %> prohibited this catalog_mebeli from being saved:</h2>

      <ul>
      <% @catalog_mebeli.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
