<h1>Listing products</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Article</th>
    <th>Price</th>
    <th>Series</th>
    <th>Presence</th>
    <th>Lgth</th>
    <th>Dpth</th>
    <th>Height</th>
    <th>Description</th>
    <th>Catalog mebelis</th>
    <th>Style m</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.title %></td>
    <td><%= product.article %></td>
    <td><%= product.price %></td>
    <td><%= product.series %></td>
    <td><%= product.presence %></td>
    <td><%= product.lgth %></td>
    <td><%= product.dpth %></td>
    <td><%= product.height %></td>
    <td><%= product.description %></td>
    <td><%= product.catalog_mebeli_id %></td>
    <td><%= product.style_m_id %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
